<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Message {{ scholar.nickname }}!</title>
    <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="icon" type="image/png" >
    <link href="{{ url_for('static', filename='styles/style.css')}}" rel="stylesheet" />
    
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Aclonica&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bayon&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bayon&family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    
</head>
<body style="background-color: #fffded !important;">
    <header>
        <div class="header-content">
            <div class="logo">
                <img src="{{ url_for('static', filename='images/logo.png') }}" alt="Logo">
            </div>
            <div class="logo-text">Maharlika</div>
            <nav>
                <ul>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('message') }}">Send us a message</a></li>
                {% if session.logged_in %}
                <li><a href="{{ url_for('inbox', scholar_id=session.scholar_id) }}">Inbox</a></li>
                <li><a href="{{ url_for('logout') }}">Logout</a></li>
                {% else %}
                <li><a href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
                </ul>
            </nav>
        </div>
    </header>
    <div class="container">
        <div class="profile-image">
            <img src="{{ url_for('static', filename='images/scholarportrait-' ~ scholar_id ~ '.png') }}" alt="Scholar Portrait" class="scholar-portrait">
        </div>
        <div class="profile-info">
            <div class="profile-nick">{{ scholar.nickname }}</div>
            <div class="profile-desc">{{ scholar.description | safe }}</div>
            <div class="profile-sectioncore">{{ scholar.section }} | {{ scholar.core }}</div>
        </div>
        <div class="sender-info">
            <form action="{{ url_for('send_message_route', scholar_id=scholar_id) }}" method="POST">
                <div class="sender-name-label">Name:</div>
                <input type="text" name="sender_name" id="sender_name" class="sender-name">
                <input type="hidden" name="anonymous" id="anonymous" value="0">
                <label class="toggle-btn" for="anonymousCheckbox">
                    <input type="checkbox" id="anonymousCheckbox" name="anonymousCheckbox">
                    <span class="checkbox-anon"></span>
                </label>
                <div class="anon-label">Anonymous?</div>
                <div class="message-label">Write your message here:</div>
                <textarea name="content" class="sender-message" rows="16"></textarea> 
                <button type="submit" class="send-button">SEND</button> 
            </form>
        </div>
    </div>
</body>
</html>